.desktopNavigationWrapper{
   display:grid;
   grid-template-columns: repeat(20,1fr);
   background-color: orange;    
}

.navlogo{
    width: 80%;
    height: 80%;
    cursor:pointer;
    grid-column: 2/3;
    padding: 3%;
}



span{
    cursor: pointer;
    padding: 2%;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginButton{

    grid-column: 18/20;
    justify-self: center ;
    align-self: center;
}

.registerButton,.calendarButton{

 cursor: pointer;
 padding: 2%;
 text-transform: uppercase;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutButton{

    grid-column: 9/10;
}